<style>
.tickets {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 97%;
    margin: 6% 0;
    padding: 20px;
    border-radius: 8px;
}

.tickets h2 {
    color: #333;
    text-align: left;
    margin-bottom: 20px;
}

.ticket {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    transition: box-shadow 0.3s;

}

.ticket:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.ticket p {
    margin: 5px 0;
    color: #333;
}


.ticket .info p {
    font-size: 0.9rem;

}

.info {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info p {
    margin: 4px 0;
}

.info-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tickets a{
    text-decoration: none;
}


</style>

<div class="tickets">
    <% ticket_count=0%>
    <% @tickets["data"].each do |ticket| %>
        <% if ticket["id"] %>
            <% ticket_count += 1%>
        <% end %>
    <% end %>
    <h2>All Tickets(<%= ticket_count%>)</h2>
    <% if @tickets.present? && @tickets["data"].present? %>
        <% @tickets["data"].each do |ticket| %>
        <%= link_to tickets_threads_path(ticket) do %>
        <div class="ticket">
        <p><%= ticket["subject"] %></p>
            <div class="info">
                <div class="info-left">
                    <p>#<%= ticket["ticketNumber"] %></p>&nbsp;<p>-</p>&nbsp;
                    <p><%= ticket["email"] %></p>&nbsp;<p>-</p>&nbsp;
                    <p><%= time_ago_in_words(ticket["createdTime"]) %> ago</p>&nbsp;&nbsp;
                </div>
                    <div class="info-left">
                    <p>Channel: <%= ticket["channel"] %></p>&nbsp;<p>-</p>&nbsp;
                    <p>Status: <%= ticket["status"] %></p>&nbsp;<p>-</p>&nbsp;
                    <p>Threads: <%= ticket["threadCount"]%></p>
                </div>

            </div>
        </div>
        <% end %>
        <% end %>
    <% else %>
    <p>No tickets found.</p>
<% end %>
</div>