<style>
.tickets {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin:7.5% 0;
}

.tickets h3 {
    color: #333;
    text-align: left;
    margin-bottom: 20px;
    padding:0 2%;
}

.ticket {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding:1% 2%;
    transition: all 0.3s;

}

.ticket:hover {
    background-color: #f6f4ff;
}

.ticket p {
    margin: 5px 0;
    color: #333;
}


.ticket .info p {
    font-size: 0.9rem;

}

.info {
    display: grid;
    grid-template-columns: 0.2fr 5fr 2fr;
    align-items: center;
}

.info p {
    margin: 4px 0;
}

.info-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tickets a{
    text-decoration: none;
}
</style>

<div class="tickets">
    <% ticket_count=0%>
    <% @tickets["data"].each do |ticket| %>
        <% if ticket["id"] %>
            <% ticket_count += 1%>
        <% end %>
    <% end %>
    <select name="Tickets" id="Tickets">
        <option value="All Tickets"><h3>All Tickets(<%= ticket_count%>)</h3></option>
        <option value="Open Tickets"><h3>Open Tickets</h3></option>
        <option value="Closed Tickets"><h3>Closed Tickets</h3></option>
        <option value="On Hold"><h3>On Hold</h3></option>
        <option value="All Tickets"><h3>All Tickets</h3></option>
    </select>
    <% if @tickets.present? && @tickets["data"].present? %>
        <% @tickets["data"].each do |ticket| %>
        <%= link_to tickets_threads_path(ticket) do %>
        <div class="ticket">
            <div class="info">
                <div>
                    <p id="direction"><%= ticket["lastThread"]["direction"]%></p>
                </div>
                <div>
                    <p><%= ticket["subject"] %></p>
                        <div class="info-left">
                            <p>#<%= ticket["ticketNumber"] %></p>&nbsp;<p>-</p>&nbsp;
                            <p><%= ticket["email"] %></p>&nbsp;<p>-</p>&nbsp;
                            <p><%= time_ago_in_words(ticket["createdTime"]) %> ago</p>&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="info-left", style="text-align: right;">
                    <p>Channel: <%= ticket["channel"] %></p>&nbsp;<p>-</p>&nbsp;
                    <p>Status: <%= ticket["status"] %></p>&nbsp;<p>-</p>&nbsp;
                    <p>Threads: <%= ticket["threadCount"]%></p>
                </div>
            </div>
        </div>
        <% end %>
        <% end %>
    <% else %>
    <p>No tickets found.</p>
<% end %>
</div>

<script>
    function direction(){
    var directionElement = document.getElementById('direction');
    console.log(directionElement);
    if (directionElement) {
        var directionValue = directionElement.innerText; // or .innerText
        console.log('Direction value:', directionValue);
    } else {
        console.log('Direction element not found');
    }
    }
</script>